
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<!--Choose payment details-->
<p> Choose payment method: </p>
<form>
    <fieldset>
        <legend>Radio buttons</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Cash on Delivery
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Watch adverts until my pizza is paid for
            </label>
        </div>
    </fieldset>    
</form>
